---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const entries = await getCollection('blog');
---

<Layout title="Markdown Blog">
  <h1>Markdown Blog</h1>
  <ul>
    {entries.map(entry => (
      <li>
        <a href={`/${entry.id}`}><strong>{entry.data.title}</strong></a> ({entry.data.date instanceof Date ? entry.data.date.toLocaleDateString() : entry.data.date})
      </li>
    ))}
  </ul>
</Layout>
